/* //
// FONTS
// ---------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


//
// VARIABLES
// ----------------------------------------------------

//Colors
$color-white: #fff;
$color-white-transparent: rgba(#fff, 0.3);
$color-heading: #1e0e62;
$color-bg-dark: #2f1893;
$color-grey: #ebeaed;
$color-text-grey: #a1a1b0;
$color-action-primary: #23dac5;
$color-action-secondary: #482be7;
$color-action-third: #e93a7d;
$color-socials-youtube: #ea3223;
$shadow-color: rgba(#000000, 0.1);

//Fonts
$font-family-sans: 'DM Sans', sans-serif;
$font-size-h1: 72px;
$font-size-h2: 58px;
$font-weight-h2: 700;
$font-size-introduction: 24px;
$font-size-h3: 42px;
$font-weight-h3: 700;
$font-size-h5: 22px;
$font-size-paragraph: 16px;
$font-weight-paragraph: 400;
$font-size-label: 14px;
$font-weight-labe: 700;
$font-size-btn-middle: 18px;
$fong-size-btn-big: 20px;



//
// GENERAL
// ---------------------------------------------------- 
body {
  background-color: $color-bg-dark;
  font-family: $font-family-sans;
  font-weight: 500;
  color: $color-white;
  width: 100%;
  margin: 0;
}

.container {
  margin: 0 auto;
}


.section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.btn-action {
  display: block;
  margin: 58px auto 0 auto;
  font-size: $font-size-btn-middle;
  padding: 17px 35px;
  border-radius: 100px;
  color: $color-white;
  background-color: $color-action-secondary;
  border: none;
}


//
// GRID
// ---------------------------------------------------- 
// .container {
//   display: grid;
//   grid-template-columns: 1;
//   grid-template-rows: 6;
// }
//
// HERO SECTION
// ----------------------------------------------------
#section-hero {
  background-image: url("./../images/hero-bckg.webp");
  ul{
    margin: 0 auto;
    padding: 0;
    li{
      display:inline-block;
      margin: 80px 22px 0px 22px
    }
  }
  a {
    font-size: $font-size-btn-middle;
    line-height: 26px;
    text-decoration: none;
    color: $color-white;
    &.active {
      color: $color-white-transparent;
    }
  }
  .carousel-item {
    width: 736px;
    height: 257;
    margin: 142px auto 0 auto;
    text-align: center;
    h1 {
      margin: 28.8px 0 27.2px 0;
      font-size: $font-size-h1;
    }
    .introduction {
      margin: 0;
      font-size: $font-size-introduction;
    }
    h5 {
      font-size: $font-size-h5;
      margin: 0;
    }
  }
}

.controls {
  text-align: center;
}
//
// FEATURES SECTION
// ----------------------------------------------------
#section-features {
  img {
    position: absolute;
  /* Mockup */

  width: 491,65px;
height: 535.77px;
// left: -501.74px;
// top: 100px;

    // left: -35.84%;
    // right: 65.6%;
    top: 13.59%;
    bottom: 13.62%;
  }





/* Object */

// width: 983.3px;
// height: 535.77px;
// left: -501.74px;
// top: 100px;



// /* Space Grey */

// position: absolute;
// left: -35.84%;
// right: 65.6%;
// top: 13.59%;
// bottom: 13.62%;

// background: url(Image.png);


// /* Space Grey */

// position: absolute;
// left: -35.84%;
// right: 65.6%;
// top: 13.59%;
// bottom: 13.62%;

// background: url(Image.png);


// /* Space Grey */

// position: absolute;
// left: -35.84%;
// right: 65.6%;
// top: 13.59%;
// bottom: 13.62%;

// background: rgba(0, 0, 0, 0.0001);


}

//
// SECTIONS BACKGROUNDS
// ----------------------------------------------------




#section-features {
  background-image: url("./../images/features-bckg.webp");
}

#section-call-to-action {
  background-image: url("./../images/call-to-action-bckg.webp");
}

#section-contact {
  background-image: url("./../images/contact-bckg.webp");
}