//
// FONTS
// ----------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

//
// VARIABLES
// ----------------------------------------------------
//Colors
$color-white: #fff;
$color-white-transparent: rgba(#fff, 0.3);
$color-heading: #1e0e62;
$color-bg-dark: #2f1893;
$color-grey: #ebeaed;
$color-text-grey: #a1a1b0;
$color-text-list-grey: #C1BADF;
$color-action-primary: #23dac5;
$color-action-primary-dark: #24bba9;
$color-action-secondary: #482be7;
$color-action-third: #e93a7d;
$color-action-border: #6C5DB3;
$color-socials-youtube: #ea3223;
$color-socials-youtube-dark: #b62b1f;
$shadow-color: rgba(#000000, 0.1);

//Fonts
$font-family-sans: 'DM Sans', sans-serif;
// $font-size-h1: 72px;
// $font-size-h2: 58px;
// $font-weight-h2: 700;
// $font-size-introduction: 24px;
// $font-size-h3: 42px;
// $font-weight-h3: 700;
// $font-size-h5: 22px;
// $font-size-paragraph: 16px;
// $font-size-label: 14px;
// $font-size-btn-middle: 18px;
// $font-size-btn-big: 20px;
// $font-size-slider-arrow: 35px;

$font-size-h1: 4.5rem;
$font-size-h2: 3.625rem;
$font-size-h3: 2.625rem;
$font-size-h5: 1.375rem;

$font-size-span: 1.5rem;
$font-size-paragraph: 1rem;
$font-size-label: 0.875rem;

$font-size-btn-middle: 1.125rem;
$font-size-btn-big: 1.25rem;

$font-size-slider-arrow: 2.1875rem;

$font-weight-h2: 700;
$font-weight-h3: 700;
$font-weight-paragraph: 400;
$font-weight-label: 700;



//Animations
$hover-transition: .4s all ease-in-out;
$hover-animation-duration: 1.5s;

//
//BOOTSTRAP IMPORT
// ----------------------------------------------------

@import "../../node_modules/bootstrap/scss/bootstrap";

//
// GENERAL
// ---------------------------------------------------- 
body {
  background-color: $color-bg-dark;
  font-family: $font-family-sans;
  font-weight: 500;
  color: $color-white;
  // width: 100%;
  margin: 0;
}

h1 {
  font-size: $font-size-h1;
  
  @include media-breakpoint-down(md) { 
    font-size: 3rem;
  }
}
h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-h2;
  
  @include media-breakpoint-down(md) { 
    font-size: 2.5rem;
  }
}

h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-h3;
  
  @include media-breakpoint-down(md) { 
    font-size: 1.875rem;
  }
}

h5 {
  font-size: $font-size-h5;
  
  @include media-breakpoint-down(md) { 
    font-size: 1rem;
  }
}

p, sup {
  font-size: $font-size-paragraph;
  font-weight: $font-weight-paragraph;

  @include media-breakpoint-down(md) { 
    font-size: 0.875rem;
  }
}

span {
  font-size: $font-size-span;

  @include media-breakpoint-down(md) { 
    font-size: 1.125rem;
  }
}

.label {
  font-size: $font-size-label;
  font-weight: $font-weight-label;

  @include media-breakpoint-down(md) { 
    font-size: 0.75rem;
  }
}

.btn-middle {
  font-size: $font-size-btn-middle;

  @include media-breakpoint-down(md) { 
    font-size: 0.875rem;
  }
}

.btn-big {
  font-size: $font-size-btn-big;

  @include media-breakpoint-down(md) { 
    font-size: 0.9375rem;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: $color-white !important;
  font-size: $font-size-slider-arrow !important;
}

.section {
  height: 100vh;
  background-size: cover;
  // background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.btn-action {
  display: block;
  margin: 58px auto 0 auto;
  padding: 1.0625rem 2.1875rem;
  border-radius: 6.25rem;
  color: $color-white;
  background-color: $color-action-secondary;
  transition: $hover-transition;
  animation-duration: $hover-animation-duration;
  border: none;
    &:hover {
      background-color: $color-bg-dark;
    }
}

//
// HERO SECTION
// ----------------------------------------------------
#section-hero {
  background-image: url("./../images/hero-bckg.webp");
  min-height: 850px;
  a {
    font-size: $font-size-btn-middle;
    text-decoration: none;
    color: $color-white;
    transition: $hover-transition;
    animation-duration: $hover-animation-duration;
    &.active, &:hover {
      color: $color-white-transparent;
    }
  }
  .slider-hero-item {
    width: 46rem;
    height: 16.06rem;
    margin: 8.875rem auto 3rem auto;
    text-align: center;
    h1 {
      margin: 1.8rem 0 1.7rem 0;
    }
    .hero-subtitle {
      margin: 0;
    }
    h5 {
      margin: 0;
    }
    @include media-breakpoint-down(md) { 
      height: auto;
      width: auto;
    }
  }
  .navigation {
    // max-width: 469px;
    margin-top: 5rem;
    margin: 0 auto;
  }

  .navbar-toggler {
  border-color: $color-white;
  }

  .navigation > div {
    // margin-top: 80px;
    // padding: 0 22px 0 22px;
    // margin-top: 5rem;
    padding: 0 1.375rem 0 1.375rem;
  }

  .swiper-pagination {
    color: $color-white;
    &-bullet {
      background: $color-white !important;
      &-active {
        background: $color-white !important;
      }
    }
  }

  .hero-navigation {
    padding-top: 85px;
  }
}

//  
// FEATURES SECTION
// ----------------------------------------------------
#section-features {
  background-image: url("./../images/features-bckg.webp");
  min-height: 736px;
  .img-notebook {
    position: absolute;
    width: 30.73rem;
    height: 33.49rem;
    top: 13.59%;
    bottom: 13.62%;
  }

.swiper-features {
  height: 100vh;
}

.swiper-features .swiper-wrapper {
  flex-direction: column;
}

.swiper-features .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

h3 {
  margin: 0px 0 20px 0;
}

h5 {
  margin-bottom: 65.6px;
}

.features-icon {
  max-height: 2.35rem;
}

.label {
  margin: 29px 0 16.2px 0;
}

.features-block {
  max-width: 271px;
}

}

//
// CALL TO ACTION SECTION
// ----------------------------------------------------
#section-call-to-action {
  background-image: url("./../images/call-to-action-bckg.webp");
  min-height: 605px;
  h2 {
    margin: 200px 0 40px 0;
  }
  h5 {
    margin: 0 auto 58px auto;
    @include media-breakpoint-up(md) { 
      width: 518px;
    }
  }
  .btn-action {
    background-color: $color-action-primary;
    &:hover {
      background-color: $color-action-primary-dark;
    }
  }
  .btn-socials {
    background-color: $color-socials-youtube;
    border-radius: 50%;
    border: none;
    transition: $hover-transition;
    animation: $hover-animation-duration;
    &:hover {
      background-color: $color-socials-youtube-dark;
    }
  }
}

//
// CONTACT SECTION
// ----------------------------------------------------
#section-contact {
  background-image: url("./../images/contact-bckg.webp");
  min-height: 770px;
  h3 {
    margin-top: 150px;
    margin-bottom: 28px;
  }
  h5 {
    margin-bottom: 53.2px;
  }
  ul {
    max-width: 282px;
  }
  li {
    margin-bottom: 32px;
  }
  img {
    max-width: 16px;
  }
  .contact-text {
    max-width: 410px;
    margin-left: 215px;
  }
  .contact-form {
    background-color: $color-white;
    width: 470px;
    height: 500px;
    margin-top: 100px;
    margin-right: 216px;
    border: 2px solid $color-white;
    border-radius: 10px;
  }
  .label-form {
    color: $color-heading;
  }
  input {
    color: $color-heading;
    border: 2px solid $color-grey;
    border-radius: 100px;
    height: 50px;
    &::placeholder {
      color: $color-text-grey;
    }
  }
  textarea {
    color: $color-heading;
    border: 2px solid $color-grey;
    border-radius: 10px;
    resize: none;
    &::placeholder {
      color: $color-text-grey;
    }
  }
  .form-select {
    color: $color-heading;
    background-image: url(../images/angle-down-icon.svg);
    border: 2px solid $color-grey;
    border-radius: 100px;
    height: 50px;
    width: 140px;
  }
  .form-first-name {
    width: 200px;
  }
  .form-email {
    width: 370px;
  }
  .form-message {
    width: 370px;
  }
  .form-check-input {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border-color: $color-grey;
    &:checked {
    background-color: $color-action-primary;
    color: $color-heading;
    background-image: url(../images/check-icon.svg);
    }
  }
  .form-check-text {
    color: $color-text-grey;
  }
  .btn-middle {
    background-color: $color-action-primary;
    &:hover {
      background-color: $color-action-primary-dark;
    }
  }
}

//
// PRICING SECTION
// ----------------------------------------------------
#section-pricing {
  min-height: 1130px;
  border: 2px solid $color-action-border;
  border-radius: 10px;
  .pricing-heading {
    margin-top: 100px;
    max-width: 586px;
    h3 {
      margin-bottom: 30px;
    }
    h5 {
      margin-bottom: 54px;
    }
  }
  .pricing-table {
    width: 370px;
    height: 730px;
    border: 2px solid $color-action-border;
    border-radius: 10px;
    .pricing-table-heading {
      margin-left: 49px;
      .currency {
        vertical-align: super;
        line-height: 1.2;
      }
      h2 {
        margin-bottom: 45px;
      }
      h5 {
        margin-top: 40.2px;
        margin-bottom: 22px;
      }
    }
    p {
      margin-bottom: 10px;
    }
    ul {
      margin-left: 30px;
    }
    li {
      list-style: none;
    }
    .list-item {
      color: $color-text-list-grey;
    }
    .checked-list-item {
      color: $color-white;
      display: flex;
      align-items: flex-start;
      gap: 10px;
      list-style: none;

      .check-icon {
        width: 12px;
        height: 8px;
        background-image: url('../images/check-pricing-icon.svg');
        background-repeat: no-repeat;
        background-size: contain;
        flex-shrink: 0;
        margin-top: 0.4em;
      }
    }
    .btn-action {
      width: 230px;
      border: 2px solid $color-action-border;
      background-color: $color-bg-dark;
      &:hover {
        border-color: transparent;
        background-color: $color-action-third;
      }
    }
  }
}
